/lesson11/Vagrant/.vagrant/
/lesson11/zadanie_11/web_instance/
/lesson11/zadanie_11/web_instance/.vagrant/
/lesson12/Vagrant/
/lesson12/Vagrant/Jenkins/
/lesson12/Vagrant/Jenkins/.vagrant/
/lesson12/Vagrant/web_instance/
/lesson12/Vagrant/web_instance/.vagrant/
